<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=logout, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div class="formm">
         <form class="/login"  action="/logout" method="get">
             <h1>Hii <%= name%></h1>
             <div class="inner-x">
             <!-- <input type="text" placeholder="name" name="name">
             <input type="email"  placeholder="email" name="email">
             <input type="password"  placeholder="password" name="password" > -->
             <button type="submit"> Logout</button>
         </div>
    </div>
    </form>
   </div>
</body>
</html>